{% extends 'base.html' %}

{% block content %}

  <div>
    <h2>Location:  {{ object.location }}</h2>
    <p>Owner: {{ object.owner }}</p>
    <p>Description: {{ object.description }}</p>
    <p>Hourly Sales: {{ object.hourly_sales }}</p>
    <p>Min Customers/Hour: {{ object.minimum_customers_per_hour }}</p>
    <p>Max Customers/Hour: {{ object.maximum_customer_per_hour }}</p>
    <p>Average Cookies/Sale: {{ object.average_cookies_per_sale }}</p>
  </div>

  <br>
  <div>
    <p><a href="{% url 'cookie_stand_update' object.pk %}">Update</a></p>
    <p><a href="{% url 'cookie_stand_delete' object.pk %}">Delete</a></p>
  </div>


{% endblock content %}

